.content {
	flex-direction: column;
}

#busyTime {
	display: flex;
	flex-direction: row;
	margin-bottom: 5%;
}

#gauge {
	display: flex;
	margin-right: 5%;
	width: 326;
	height: 211;
}

#bars {
	display: flex;
	flex-direction: column;
	width: 100%;
}

#time {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 2%;
	font-size: 1.5rem;
}

#meters {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.progressBar {
	display: flex;
	flex-direction: column;
	margin: 0 5% 2% 0;
}

.progressBar span {
	margin-bottom: 5%;
}

.barTop {
	display: flex;
	/*flex-direction: column;*/
	justify-content: space-between;
}

.numTop {
	padding-right: 2.5%;
	padding-left: 2.5%;
	border: 2px dotted #ff6e03;
	border-radius: 2%;
}

progress[value] {
	/* Reset the default appearance */
	-webkit-appearance: none;
	appearance: none;
}

progress[value]::-webkit-progress-value {
	background-image: -webkit-linear-gradient(
			-45deg,
			transparent 33%,
			rgba(0, 0, 0, 0.1) 33%,
			rgba(0, 0, 0, 0.1) 66%,
			transparent 66%
		),
		-webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)),
		-webkit-linear-gradient(left, rgb(0, 204, 10), rgb(243, 255, 68));

	border-radius: 2px;
	background-size: 35px 20px, 100% 100%, 100% 100%;
}

#newsContainer {
	display: flex;
	flex-direction: column;
}

.newsRow {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 2%;
}

.news {
	display: flex;
	flex-direction: row;
	width: 44%;
	padding: 2%;
	border: 2px dotted #ff6e03;
	border-radius: 2%;
	font-size: 1.3rem;
	cursor: pointer;
}

.newsDate {
	display: flex;
	flex-direction: column;
	width: 40%;
	border-right: 1px solid black;
	margin-right: 5%;
}

.newsDate span:last-child {
	font-style: italic;
}

.newsTxt {
	display: flex;
	width: 55%;
	font-weight: 700;
}

#more-news-arrow {
	align-self: center;
	font-size: 3rem;
	padding: 1%;
	border-radius: 50%;
	background-color: #ff6e03;
	cursor: pointer;
}

.hidden {
	display: none;
}
