.navbar {
	display: flex;
	flex-direction: row;
	height: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: #ff6e03;
	box-shadow: 0px 1px 10px #999;
}

.navbar img:first-child {
	width: 40%;
}

.navbar li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 13%;
	font-size: 0.9rem;
	cursor: pointer;
}

.navbar li.active {
	background-color: black;
}

.navbar li:last-child {
	width: 8%;
}

.navbar li:not(.active):hover {
	background-color: #cc9117;
}

.navbar li a {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	padding: 5%;
	justify-content: space-around;
	text-decoration: none;
	align-items: center;
	color: black;
}

.navbar li.active a {
	color: #ff6e03;
}

.navbar li a i {
	font-size: 2rem;
}

.navbar li:last-child i {
	font-size: 3rem;
}

.navbar li a span {
	text-transform: uppercase;
	font-weight: 700;
}

#profile .option {
	position: absolute;
	z-index: 1;
	width: 30vw;
	margin-left: -25rem;
	background-color: #ff6e03;
	padding: 0 0 1rem;
	border-radius: 5%;
	margin-top: 2rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: flex;
	flex-direction: column;
	align-items: center;
	opacity: 0;
	transition: opacity 0.4s;
}

#profile .option.fade-in {
	opacity: 1;
	/* transition: opacity 1s; */
}

#profile .option h3 {
  width: 100%;
  text-align: center;
  color: #ff6e03;
  background-color: black;
  margin: 0 0 1rem;
  padding: 0.5rem 0;
}

#profile .option.hidden {
  display: none;
}

#profile .option::after {
	content: "";
	position: absolute;
	border-width: 15px;
	border-style: solid;
	border-color: transparent transparent black transparent;
	bottom: 99%;
	right: 2%;
}

#profile .option form {
  margin-bottom: 1rem;
}

#profile .option form div {
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#profile .option form button {
  cursor: pointer;
  padding: 3% 5%;
  background-color: transparent;
  border: 4px solid #43ffdd;
  border-radius: 5%;
  width: 100%;
  text-transform: uppercase;
  transition: background-color 0.4s ease 0s;
}

#profile .option form button:hover {
  background-color: #43ffdd;
  transition: background-color 0.4s ease 0s;
}

#profile .option form div label {
  margin-bottom: 0.5rem;
}

#profile .option form div input {
  padding: 0.5rem;
}

#profile .option .option-change {
	display: flex;
	flex-direction: row;
}

#profile .option .option-change .link {
	border-bottom: 1px solid black;
	padding-bottom: 0.2rem;
}
