.content {
  flex-direction: row;
}

#selection,
#list {
	display: flex;
	flex-direction: column;
}

#selection {
	width: 30%;
}

#calendar {
	display: flex;
	flex-direction: column;
	margin-bottom: 5%;
}

#calendar-month {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2%;
}

#calendar-month button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

#calendar-weeks {
	display: flex;
	flex-direction: column;
}

.calendar-week {
	display: flex;
	flex-direction: row;
	padding: 2%;
	border-top: 1px solid #ff6e03;
	cursor: pointer;
}

.calendar-week.selected {
	background-color: #43ffdd;
}

.calendar-day {
	width: 15%;
}

#filters {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#filters button {
	cursor: pointer;
	padding: 1% 3%;
	font-size: 1.3rem;
	background-color: transparent;
	border: 1px solid #ff6e03;
	border-radius: 5%;
	margin-bottom: 3%;
	width: 50%;
}

#filters button.active {
	background-color: #43ffdd;
}

#list {
	width: 70%;
	height: 75vh;
	overflow-y: auto;
}

.week-events {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 90%;
	margin: 0 5% 0 10%;
}

.week-events.hidden {
	display: none;
}

.day-events {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.day-events .weekday {
	border-bottom: 2px solid #ff6e03;
	padding: 1% 0;
	width: 90%;
}

.day-events .event {
	display: flex;
	flex-direction: column;
	width: 50%;
	border-bottom: 1px dotted #ff6e03;
}

.day-events .event:last-child {
	border-bottom: 2px solid #ff6e03;
}

.day-events .event span {
	padding: 2% 3%;
}

.day-events .event-time {
	font-style: italic;
}

.day-events .event-name {
	font-weight: 700;
}
